<!doctype html>
<html>
	<%- include("head", title)%>
    <body>
		<%- include("header") %> 
        <main>
			<h2><%= user %></h2>
			<p><%= text %></p>
			<p><%= added %></p>
			<hr />
        </main>
    </body>
</html>
