<!doctype html>
<html>
	<%- include("head", title)%>
    <body>
		<%- include("header") %> 
        <main>
			<div class="single_msg">
				<p class="msg"><%= msg %></p>
				<p class="date"><%= date %></p>
			</div>

			<a href="/<%= id %>/delete">Borrar el mensaje</a>
        </main>
    </body>
</html>
